<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">

    <head>
        <title>Posts!</title>
        <!-- Bootstrap-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>

    <body>

        <header>

            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="/postspage">Posts</a>
                <a href="/newpost" class="btn btn-primary" role="button">Novo Post</a>
            </nav>

        </header>

        <section>

            <!-- Onde fica todo o conteúdo -->
            <div class="container" style="width: 75%; padding-bottom: 30px;">

                <nav aria-label="breadcrumb" style="padding: 10px">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">Posts</li>
                    </ol>
                </nav>

                <div class="card" style="margin-top: 20px" th:each="post : ${posts}">

                    <div class="card-body">

                        <p class="card-subtitle mb-2 text-muted">
                            <span th:text="${post.autor}"/>
                            <span th:text="${post.date}"/>
                        </p>

                        <a>
                            <!-- Gerar href com o link do post no bd -->
                            <!-- AbreviaçãoClasse#Método | 0, var do objeto | construção -->
                            <a th:href="${#mvc.url('PC#getPostDetails').arg(0, post.id).build()}">
                                <h4 class="card-title">
                                    <span th:text="${post.titulo}"></span>
                                </h4>
                            </a>
                        </a>

                        <p class="card-text">
                            <span th:utext="${#strings.abbreviate(post.texto, 10)}"/>
                        </p>

                    </div>

                </div>

            </div>
        </section>

    </body>

</html>